* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  background: #112B3C;
  height: 100%;
  overflow: hidden;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    box-shadow: 0 0 50px rgba(0,0,0,0.3) inset;
    pointer-events: none;
    @media (min-width: 750px) {
      box-shadow: 0 0 100px rgba(0,0,0,0.3) inset;
    }
  }
}

canvas {
  position: absolute;
  touch-action: none;
}

.ui {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 105;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  label {
    display: grid;
    grid-template-columns: 0 1fr 1fr;
    align-items: center;
    background: #57e505;
    border-radius: 10px;
    padding: 8px;
    width: (20px + 16px);
    overflow: hidden;
    transition: 0.15s ease-in-out;
    font-size: 0;
    & + label {
      margin-top: 5px;
    }
    &:focus-within,
    &:hover {
      width: (20px + 16px + 100px + 10px);
      input {
        margin-left: 10px;
        opacity: 1;
      }
    }
  }
  input {
    width: 100px;
    opacity: 0;
  }
  svg {
    flex-shrink: 0;
    width: 20px;
  }
}

.tooltip {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: 1;
  path:first-child {
    transition: 0.05s ease-out;
  }
  &:focus-within,
  &:hover {
    z-index: 2;
    path:first-child {
      fill: #09e00d;
    }
  }
}
p {
  white-space: nowrap;
  color: white;
  background: #EFEFEF;
  color: #112B3C;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -90px);
  border-radius: 3px;
  padding: 5px 8px;
  pointer-events: none;
  opacity: 0;
  transition: 0.15s ease-out;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
  button:focus + &,
  button:hover + & {
    opacity: 1;
  }
}
button {
  background: none;
  padding: 0;
  border: none;
  height: 0;
  cursor: pointer;
  svg {
    width: 20px;
    margin-left: -10px;
    transform: translateY(-100%);
  }
}

#compass {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 50px;
  z-index: 120;
  overflow: visible;
  path:first-child {
    stroke: #112b3c;
    stroke-width: 4px;
  }
}